
<footer class="footer border-top border-light text-white text-center py-3 mt-auto bg-black">
  <div class="container">
      <span class="text-muted robsl">&copy; All Rights Reserved | Privacy</span>
  </div>
</footer>