<% layout('layout/boilerplateAuth') %> 

<div class="d-flex justify-content-center align-items-center mb-3">
            <div class="card border-0 text-white border-secondary shadow" style="width: 22rem;">
                <img src="/images/banner.png" alt="" class="card-img-top" />
                <div class="card-body bg-black">
                    <h5 class="card-title robsl mb-3">Login</h5>
                    <form action="/login" method="POST" class="validated-form mb-4" novalidate>
                        <div class="mb-4">
                            <label class="form-label rob size-2" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-4">
                            <label class="form-label rob size-2" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block me-3">Login</button>
                        <a class="d-inline card-link btn btn-outline-success me-3" href="/register">Register</a>
                    </form>
                    
                    <a class="card-link btn btn-secondary me-3" href="/posts">Continue as Guest &rarr;</a>
                </div>
            </div>
</div>