<% layout('layout/boilerplate') %>

<div class="d-flex justify-content-center align-items-center my-3">
  <div class="card bg-dark text-white border-secondary shadow">
      <div class="card-body">
          <h1 class="card-title mb-3 robsl">Edit</h1>
          <form class="" action="/posts/<%= post._id %>?_method=PUT " method="post">
              <div class="mb-4">
                <label class="h5 mb-2 rob size-2" for="title">Title</label>
                <input class="form-control" type="text" name="post[title]" id="title" value="<%= post.title %> ">
              </div>

              <div class="mb-4">
                <label class="h5 mb-2 rob size-2" for="content">Post</label>
                <textarea class="form-control" name="post[content]" id="content" rows="10" cols="50"> <%= post.content %> </textarea>
              </div>
              <button class="btn btn-primary" type="submit" name="button">Edit</button>
          </form> 
      </div>
  </div>
</div>